:root{
    --accent-color:#2196F3;
    --logo-color:#000;
    --text-color:#212121;
    --added-color:#757575;
    --main-color:#fff;
    --team-background:#F5F4FA;
    --footer-background:#2F303A;
    --footerinfo-color:rgba(255, 255, 255, 0.60);
}
body{
 font-family: Roboto;
 display: flex;
 flex-direction: column;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid red; */
}
.header{
    padding-top: 24px;
    padding-bottom: 25px;   
    border-bottom: 1px solid #ECECEC;
}
.head{
    display: flex;
    align-items: center;
}

.header-logo{
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.logo-img{
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.header-nav{
    margin-left: 93px;
        margin-right: 344px;
        display: flex;
        gap: 50px;
}
.nav-list{
    display: flex;
    gap: 50px;
}
.nav-link:hover{
color: var(--accent-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.header-link:hover{
color: var(--accent-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.nav-link{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.curent{
    color: var(--accent-color);
}
.header-link{
color: var(--added-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.header-list{   
    width: 310px ;
    display: flex;
    justify-content: space-between;
}

.hero{
        padding-top: 200px;
        padding-bottom: 200px ;
        text-align: center;
        /* background-color: var(--footer-background); */
        background-image: linear-gradient(rgba(47, 48, 58, 0.40),rgba(47, 48, 58, 0.40)) ,url(../img/peoplesneartable.jpg) ;
        
}

.hero-title{
    color: var(--main-color);
        text-align: center;
            width: 696px;
            margin-left: auto;
            margin-right: auto;
        font-size: 44px;
        font-style: normal;
        font-weight: 900;
        line-height: 1.36   ;
        /* 136.364% */
        letter-spacing: 2.64px;
        text-transform: uppercase;
}
.hero-btn{
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.96px;
        background-color: var(--accent-color);
        border-radius: 5px;
        margin-top: 30px;
        padding: 10px 32px;
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.advantages{
    padding-top: 94px;
}
.advantages-item::before{
    content: '';
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA;
    display: block;
    margin-bottom: 30px;
    background-image: url(../img/antena.png);
    background-repeat: no-repeat;
    background-position: center;
}
.advantages-item:nth-child(2)::before{
    background-image: url(../img/clock.png);
}
.advantages-item:nth-child(3)::before {
    background-image: url(../img/diagram.png);
}
.advantages-item:nth-child(4)::before {
    background-image: url(../img/astronaut.png);
}
.advantages-list{
    display: flex;
    gap: 30px;
}

.advantages-camption{
    color: var(--text-color);
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
}
.services-text{
    color: var(--added-color);
    margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        /* 171.429% */
        letter-spacing: 0.42px;
}
.occupation-title{
    color: var(--text-color);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
        margin: 0 auto;
}
.occupation{
    padding-top: 94px ;
    padding-bottom: 94px;
    margin: 0 auto;
}
.occupationlist{
    display: flex;
    gap: 30px;
margin-top: 50px;
}
.occupation-photo{
width: 370px;
}
.team{
    background-color: var(--team-background);
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-title{
    color: var(--text-color);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
}
.team-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.team-photo{
    width: 270px;
    height: 260px;
}
.team-camption{
    color: var(--text-color);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
        margin-bottom: 10px;
        
}   
.team-text{
    color: var(--added-color);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.48px;

}
.team-item{
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}
.teamdiv{
    background-color: var(--main-color);
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0 0 4px 4px;
}
.header-logo2{
    color: var(--main-color);
        font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
.footeraddres{
    font-style: normal;
}
.footer-link{
    color: var(--main-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        /* 171.429% */
        letter-spacing: 0.42px;
        display: block;
        margin-top: 20px ;
}
.footer-list{
    display: flex;
    flex-direction: column;
}
.footer-item{
    margin-top: 9px;
}

.portfolio-button{
    color: var(--text-color);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.62;       /* 162.5% */
        letter-spacing: 0.48px;
        padding: 6px 22px;
        border: none;
        border-radius: 4px;
}
.portfolio-button:hover{
    background-color: var(--accent-color);
    color: var(--main-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.portfolio-buttonlist{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
}
.portfolio-photo{
    width: 100%;
}
.portfoliocard{
    padding: 20px 24px;
}
.portfolio-camption{
    color: var(--text-color);
        font-size: 18px;
        font-weight: 700;
        line-height: 2.00;
        letter-spacing: 1.08px;

}
.portfolio-item{
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid #EEE;
    background: var(--main-color);
}
.portfolio-item:hover{
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.portfolio-text{
    color: var(--added-color);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.87;
        letter-spacing: 0.48px;
        margin-top: 4px;
}
.footer{
    background-color: var(--footer-background);
}

.portfolio-section{
    padding-top: 94px;
    padding-bottom: 94px;
}