:root {
    --accent-color: #2196F3;
    --logo-color: #000;
    --text-color: #212121;
    --added-color: #757575;
    --main-color: #fff;
    --team-background: #F5F4FA;
    --footer-background: #2F303A;
    --footerinfo-color: rgba(255, 255, 255, 0.60);
}   